* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body{
    background-color: #FAF9EE;
    font-family: Arial;
}

h1{
    color: #6c6c6c;
    font-weight: 800;
    font-size: 2rem;
    user-select: none;
    margin-left: 1.25rem;
}

.table-container{
    width: 60vw;
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 35vw;

    position: absolute; 
    left: -15vw;

    scrollbar-width: none;       
    -ms-overflow-style: none;    
}

.table-container::-webkit-scrollbar {
    display: none;               
}

table{
    border-collapse: collapse;
    background-color: #EEEEEE;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
    width: 100%;
    margin: 0;
}

th, td{
    padding: 0.6rem;
    text-align: center;
    color: #000000;
}

th{
    background-color: #DCCFC0;
    text-align: center;
}

#Ret_Admin{
  font-weight: bolder;
    font-size: 1rem;
    background-color: #A2AF9B;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);;

    position: absolute;
    top: 75vh;
    left: 45vw;
    width: 8vw;
}

#Ret_Admin:hover{
    background-color: #899582;
    color: white;
    transition: all 0.25s ease;
    
}

.table-container::-webkit-scrollbar{
    width: 8px;
}

.table-container::-webkit-scrollbar-thumb{
    background-color: #A2AF9B;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-track{
    background-color: #EEEEEE;
}

#searchInput{
    position: absolute;
    top: 3vh;
    right: 5vw;
    padding: 0.6rem;
    background-color: #EEEEEE;
    color: black;
    width: 26vw;
    border-radius: 8px;
    font-size: 1.2rem;
}

#sortBtn{
    position: absolute;
    top: 25px;
    right: 35vw;
    width: 11vw;
}

#sortBtn{
    font-weight: bolder;
    font-size: 1rem;
    background-color: #A2AF9B;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}